body {
	background-color: #ffffff;
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
}

h1 {
    font-size: 30px;
    color: #333333;
}

p {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

a {
    color: #1390dd;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

small {
    font-size: 12px;
}

#header {
    width: 100%;
    margin: 0px auto;
    padding: 40px 0;
    background-color: #333333;
  background-image: -moz-linear-gradient(top, #333333, #222222); /* FF3.6 */
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #333333),color-stop(1, #222222)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(#333333, #222222); /* Chrome 10+, Saf6 */
  background-image: linear-gradient(top, #333333, #222222);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#333333', EndColorStr='#222222'); /* IE6ÃIE9 */
}

#header h1 {
    font-family: 'Josefin Slab';
    color: #f2f2f2;
    width: 800px;
    margin: 0 auto;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
    font-size: 40px;
    font-weight: bold;
}

#header h2 {
    font-family: 'Josefin Slab';
    width: 800px;
    margin: 0 auto;
    font-size: 18px;
    color: #c2c2c2;
    margin-top: 0px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

#content-wrap {
    width: 800px;
    margin: 40px auto;
}

#timeline {
    width: 350px;
    float: left;
    background-color: #f2f2f2;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
}

#timeline > h1 {
    border-bottom: 1px #d2d2d2 solid;
}

#github {
    margin-top: 5px;
}

#github h1 {
    font-size: 22px;
    color: #444444;
}

#github li {
    padding: 5px 4px;
    margin-left: -5px;
    border-left: 3px transparent solid;
    cursor: pointer;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

#github li:hover {
    border-left: 3px #1390dd solid;
}

#github p {
    color: #555555;
    font-weight: 300;
    line-height: 1.2em;
    margin: 5px 0 0 0;
}

.timeline-meta {
    margin-top: -5px !important;
    color: #777777 !important;
}

#sidebar {
    width: 400px;
    float: right;
    margin-top: 16px;
}

#sidebar > h1 {
    font-size: 24px;
}

#commit-timeline {
    margin-top: 5px;
}

#commit-timeline li {
    padding: 8px 0;
    border-bottom: 1px #e2e2e2 solid;
}

#commit-timeline p {
    color: #444444;
    font-weight: 300;
    line-height: 1.2em;
}

#sidebar-buttons {
    font-size: 13px;
    margin-top: 10px;
}

#sidebar-buttons a {
    color: #f8f8f8;
    background-color: #1390dd;
    -moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.4);
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.4);
    padding: 2px 8px;
    text-decoration: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-right: 2px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.4);
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

#sidebar-buttons a:hover {
    color: #ffffff;
    background-color: #33a3e0;
}